{# Cards #}
<div class="flex justify-evenly  w-1/2 ">
    <div class="card shadow-lg h-48 w-48">
        <div class="card-header w-full border ">
            <div class="card-title justify-center">
                <p class="">NH4</p>
            </div>
        </div>
        <div class="card-body items-center">
            <p>0</p>
        </div>
        <div class="card-footer">
            <p>mg/L</p>
        </div>
    </div>
    <div class="card shadow-lg h-48 w-48">
        <div class="card-header w-full border  ">
            <div class="card-title justify-center">
                <p>NH4</p>
            </div>
        </div>
        <div class="card-body text-4xl">
            <p>0</p>
        </div>
        <div class="card-footer">
            <p>mg/L</p>
        </div>
    </div>
    <div class="card shadow-lg h-48 w-48">
        <div class="card-header">
            <div class="card-title">

            </div>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer">

        </div>
    </div>
</div>