{# Cards #}
<div class="flex justify-evenly  w-1/2 ">

    <div class="card grid grid-rows shadow-lg h-48 w-48 text-center bg-dg-red-180">
        <div class="card-header w-full">
            <div class="card-title justify-center">
                <p>NH4</p>
            </div>
        </div>
        <div class="card-body text-4xl font-bold">
            <p>0</p>
        </div>
        <div class="card-footer">
            <p>mg/L</p>
        </div>
    </div>
    <div class="card grid grid-rows shadow-lg h-48 w-48 text-center bg-dg-green-180">
        <div class="card-header w-full ">
            <div class="card-title justify-center">
                <p>NH4</p>
            </div>
        </div>
        <div class="card-body text-4xl font-bold">
            <p>0</p>
        </div>
        <div class="card-footer">
            <p>mg/L</p>
        </div>
    </div>
    <div class="card grid grid-rows shadow-lg h-48 w-48 text-center bg-dg-orange-180">
        <div class="card-title">
            <p>N03</p>
        </div>

        <div class="card-body text-4xl font-bold">
            <p>15</p>
        </div>
        <div class="card-footer">
            <p>mg/L</p>
        </div>

    </div><div class="card grid grid-rows shadow-lg h-48 w-48 text-center bg-dg-blue-180">
        <div class="card-title">
            <p>pH</p>
        </div>

        <div class="card-body text-4xl font-bold">
            <p>7,4</p>
        </div>
        <div class="card-footer">
            <p>pH</p>
        </div>

    </div>


</div>