{# menu #}
{# navbar #}
<div class="max-lg:invisible border-black"> {# Affiche quand > 1024 #}
    <nav class="relative bg-gray-800">
        <div class="flex justify-center ">{# TODO: Mettre le menu sur un seule ligne #}
            <div class="flex-1">

                <ul class="contents">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{# sidebar #}
<div class="lg:invisible" id="sidebar"> {#  afficher quand < 1024px #}
    <aside class="w-64 bg-white shadow-md h-screen hidden md:block">


        <div class="flex justify-start">{# TODO: Mettre le menu en affichage burger#}
            <ul>
                <li><a href="#">Home1</a></li>
                <li><a href="#">About2</a></li>
                <li><a href="#">Contact3</a></li>
            </ul>
        </div>
    </aside>
</div>
