{#Tableau#}
<table>
    {#    En-tête du tableau#}
    <tr>
        <th>NH4</th>
        <th>NO2</th>
        <th>NO3</th>
        <th>KH</th>
        <th>GH</th>
        <th>TDS</th>
        <th>pH</th>
        <th>Fer</th>
        <th>Co2</th>
        <th>Oxygène</th>
        <th>Produit</th>
        <th>Temps de Eclairage</th>
        <th>Remplacement d'Eau</th>
        <th>Remarque Ou Observation</th>

    </tr>
    {#    corp du tableau#}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
