{#Tableau#}
<div class="flex flex-col items-center">
    {#     Titre du tableau #}

    <div class="m-2">
        <h2 class="text-lg font-bold">Analyse d'eau aquarium </h2>
    </div>
    <div class=" shadow-lg collapse rounded-xl w-7xl h-3/4 md:overscroll-auto ">

        <table class="table table-zebra bg-gray-100 text-center ">
            {#    En-tête du tableau#}

            <tr class="bg-green-700 rounded-2xl text-white">
                <th>NH4</th>
                <th>NO2</th>
                <th>NO3</th>
                <th>KH</th>
                <th>GH</th>
                <th>TDS</th>
                <th>pH</th>
                <th>Fer</th>
                <th>Co2</th>
                <th>Oxygène</th>
                <th>Produit</th>
                <th>Temps de Eclairage</th>
                <th>Remplacement d'Eau</th>
                <th>Remarque</th>
                <th>Problème</th>
            </tr>

            {#    corp du tableau#}
            <tr class="bg-white hover:bg-base-300">

                <td><0.01</td>
                <td><0.05</td>
                <td>3</td>
                <td>4</td>
                <td>8</td>
                <td>250</td>
                <td>7.4</td>
                <td>0.02</td>
                <td>10</td>
                <td>0.05</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr class="bg-white hover:bg-base-300">

                <td><0.01</td>
                <td><0.05</td>
                <td>3</td>
                <td>4</td>
                <td>8</td>
                <td>250</td>
                <td>7.4</td>
                <td>0.02</td>
                <td>10</td>
                <td>0.05</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr class="bg-white hover:bg-base-300">

                <td><0.01</td>
                <td><0.05</td>
                <td>3</td>
                <td>4</td>
                <td>8</td>
                <td>250</td>
                <td>7.4</td>
                <td>0.02</td>
                <td>10</td>
                <td>0.05</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr class="bg-white hover:bg-base-300">

                <td><0.01</td>
                <td><0.05</td>
                <td>3</td>
                <td>4</td>
                <td>8</td>
                <td>250</td>
                <td>7.4</td>
                <td>0.02</td>
                <td>10</td>
                <td>0.05</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr class="bg-white hover:bg-base-300">

                <td><0.01</td>
                <td><0.05</td>
                <td>3</td>
                <td>4</td>
                <td>8</td>
                <td>250</td>
                <td>7.4</td>
                <td>0.02</td>
                <td>10</td>
                <td>0.05</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
        </table>
    </div>
</div>

