<div class="tableau m-4 text-center">
    <h2 class="text-3xl  text-gray-600"> Tableau </h2>
    <div class="flex justify-center">
        <table class="w-7xl h-40 overflow-hidden rounded-t-xl border-collapse">
            <tr class="bg-blue-500 text-white">
                <th>Colone 1</th>
                <th>Colone 2</th>
                <th>Colone 3</th>
                <th>Colone 4</th>
            </tr>
            <tr class="bg-gray-100">
                <td>Ligne 1</td>
                <td>Ligne 1</td>
                <td>Ligne 1</td>
                <td>Ligne 1</td>
            </tr>
            <tr>
                <td>Ligne 2</td>
                <td>Ligne 2</td>
                <td>Ligne 2</td>
                <td>Ligne 2</td>
            </tr>
            <tr class="bg-gray-100">
                <td>Ligne 3</td>
                <td>Ligne 3</td>
                <td>Ligne 3</td>
                <td>Ligne 3</td>
            </tr>
            <tr>
                <td>Ligne 4</td>
                <td>Ligne 4</td>
                <td>Ligne 4</td>
                <td>Ligne 4</td>
            </tr>
            <tr class="bg-gray-100">
                <td>Ligne 5</td>
                <td>Ligne 5</td>
                <td>Ligne 5</td>
                <td>Ligne 5</td>
            </tr>
            <tr>
                <td>Ligne 6</td>
                <td>Ligne 6</td>
                <td>Ligne 6</td>
                <td>Ligne 6</td>
            </tr>

        </table>
    </div>
</div>