{#Tableau#}
<div class="flex flex-col items-center">
    {#     Titre du tableau #}

    <div class="m-2">
        <h2 class="text-lg font-bold">Analyse d'eau aquarium </h2>
    </div>
    <div class=" shadow-lg collapse rounded-xl w-6xl h-3/4 md:overscroll-auto ">

        <table class="table table-zebra bg-gray-100 text-center ">
            {#    En-tête du tableau#}

            <tr class="bg-green-700 rounded-2xl text-white">
                <th>NH4</th>
                <th>NO2</th>
                <th>NO3</th>
                <th>KH</th>
                <th>GH</th>
                <th>TDS</th>
                <th>pH</th>
                <th>Fer</th>
                <th>Co2</th>
                <th>Oxygène</th>
                <th>Produit</th>
                <th>Temps de Eclairage</th>
                <th>Remplacement d'Eau</th>
                <th>Remarque</th>
                <th>Problème</th>
            </tr>

            {#    corp du tableau#}
            {% for analyse in tab_analyses%}


            <tr class="bg-white hover:bg-base-300">

                <td>{{ analyse.ammonium }}</td>
                <td>{{ analyse.nitrite}}</td>
                <td>{{ analyse.nitrate}}</td>
                <td>{{ analyse.alcalimetrique }}</td>
                <td>{{ analyse.hydrotimetrique }}</td>
                <td>{{ analyse.tds }}</td>
                <td>{{ analyse.potentiel_hydogene}}</td>
                <td>{{ analyse.fer }}</td>
                <td>{{ analyse.co2}}</td>
                <td>{{ analyse.air}}</td>
                <td>{{ analyse.produits }}</td>
                <td>{{ analyse.temp_eclairage}}</td>
                <td>{{ analyse.quantity_remplacement_eau }}</td>
                <td>{{ analyse.remarque}}</td>
                <td>{{ analyse.problème}}</td>


            </tr>
            {% endfor %}

        </table>
    </div>
</div>

