{% load static tailwind_tags django_browser_reload %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ titre }}</title>
    {% tailwind_css %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body class="bg-grey-500">
<h1 class="">{{ titre }}</h1>
<h2 class="">Cards </h2>

<div class="">
    <div class="flex flex-col items-center">
        <div class="grid content-center bg-blue-500 h-15 w-60 rounded-t-xl text-center ">
            <div class="text-white text-2xl "> Titre Card</div>
        </div>
        <div class="grid content-center bg-cyan-500 h-40 w-60 text-center text-balance">
            Corp Card
        </div>
        <div class="grid content-center bg-yellow-500 h-10 w-60 text-center rounded-b-xl">
            Pied Card
        </div>
    </div>
</div>

<div class="tableau m-4 text-center">
    <h2 class="text-3xl  text-gray-600"> Tableau </h2>
    <div class="flex justify-center">
        <table class="w-7xl h-40 overflow-hidden rounded-t-xl border-collapse">
            <tr class="bg-blue-500 text-white">
                <th>Colone 1</th>
                <th>Colone 2</th>
                <th>Colone 3</th>
                <th>Colone 4</th>
            </tr>
            <tr class="bg-gray-100">
                <td>Ligne 1</td>
                <td>Ligne 1</td>
                <td>Ligne 1</td>
                <td>Ligne 1</td>
            </tr>
            <tr>
                <td>Ligne 2</td>
                <td>Ligne 2</td>
                <td>Ligne 2</td>
                <td>Ligne 2</td>
            </tr>
            <tr class="bg-gray-100">
                <td>Ligne 3</td>
                <td>Ligne 3</td>
                <td>Ligne 3</td>
                <td>Ligne 3</td>
            </tr>
            <tr>
                <td>Ligne 4</td>
                <td>Ligne 4</td>
                <td>Ligne 4</td>
                <td>Ligne 4</td>
            </tr>
            <tr class="bg-gray-100">
                <td>Ligne 5</td>
                <td>Ligne 5</td>
                <td>Ligne 5</td>
                <td>Ligne 5</td>
            </tr>
            <tr>
                <td>Ligne 6</td>
                <td>Ligne 6</td>
                <td>Ligne 6</td>
                <td>Ligne 6</td>
            </tr>

        </table>
    </div>
</div>
<div class="graphique text-center ">

    <h2 class="my-4">Graphique</h2>
    <div class="flex justify-center">

        <div class="bg-gray-300 w-2/3 h-96">

            <div style="width: 80%; margin: auto;">
                <canvas id="myChart"></canvas>
                <script>
                    const ctx = document.getElementById('myChart');

                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Janvier', 'Février', 'Mars', 'Avril'],
                            datasets: [{
                                label: 'Ventes',
                                data: [12, 19, 3, 5],
                                backgroundColor: [
                                    '#60A5FA', // bg-blue-400 en Tailwind
                                    '#3B82F6', // bg-blue-500
                                    '#2563EB', // bg-blue-600
                                    '#1D4ED8'  // bg-blue-700
                                ],
                            }]
                        },
                        options: {
                            responsive: true,
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>
